
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button [routerLink]="'/'" class="title"> Tr3umphant.Designs</a>

      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/about'"> <mat-icon>account_box</mat-icon> About </a>
        <a mat-button [routerLink]="'/service'"> <mat-icon>code</mat-icon> How It Works </a>
        <a mat-button [routerLink]="'/portfolio'"> <mat-icon>book</mat-icon> Portfolio </a>
        <a mat-button [routerLink]="'/pricing'"> <mat-icon>attach_money</mat-icon> Pricing </a>
        <a mat-button [routerLink]="'/blog'"> <mat-icon>computer</mat-icon> Blog </a>
        <a mat-button [routerLink]="'/contact'"> <mat-icon>email</mat-icon> Contact </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>