<!-- <div class="footer">
    <div class="container">
        <span class="text-muted">Tr3umphant.Designs, LLC</span>
    </div>
<div> -->
<div class="container">
    <div class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img src="https://firebasestorage.googleapis.com/v0/b/tr3umphant-designs-bd77b.appspot.com/o/Images%2Flogo.png?alt=media&token=5ef200b2-b275-44be-93b1-95adf7dd5c5d"
                    alt="" width="100" height="100">
            </div>
            <div class="col-6 col-md">
                <h5>Follow Us</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://www.instagram.com/tr3umphant.designs/?hl=en"
                            target="_blank"><span class="fa fa-instagram" style="color: brown"></span> Instagram</a>
                    </li>
                    <li><a class="text-muted" href="https://www.facebook.com/tr3umphant.designs/" target="_blank"><span
                                class="fa fa-facebook" style="color: blue"></span> Facebook</a></li>
                    <li><a class="text-muted" href="https://www.dribbble.com/tr3designs/" target="_blank"><span
                                class="fa fa-dribbble" style="color: magenta"></span> Dribble</a></li>
                    <li><a class="text-muted" href="https://www.twitter.com/tr3umphantd" target="_blank"><span
                                class="fa fa-twitter" style="color: blue"></span> Twitter</a></li>
                    <li><a class="text-muted" href="https://www.youtube.com/channel/UCjcR0stkmPmeYkf9JDEq_ZQ"
                            target="_blank"><span class="fa fa-youtube" style="color: red"></span> YouTube</a></li>
                    <li><a class="text-muted" href="https://www.linkedin.com/in/trey-hope-69a3a774"
                            target="_blank"><span class="fa fa-linkedin" style="color: lightblue"></span> LinkedIn</a>
                    </li>
                    <li><a class="text-muted" href="https://vm.tiktok.com/92B5NR/" target="_blank"><span
                                class="fa fa-tiktok" style="color: red"></span>Also on TikTok</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://drive.google.com/open?id=1zJi05BfphQ08qi-u4AJBINNC6T-T7AKk"
                            target="_blank">Contract</a></li>

                    <li><a class="text-muted" href="https://drive.google.com/open?id=1HqtJIHCW7c1Sp43WSZnnvmZgLr-QOxDm"
                            target="_blank">My Resume</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <!-- <h5>About</h5>
                <ul class="list-unstyled text-small">
                </ul> -->
            </div>
        </div>
    </div>
</div>