<footer class="page-footer blue center-on-small-only pt-0 mt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-5 flex-center">
            <a class="px-3" href="https://www.facebook.com/trey.a.hope"><i class="fab fa-facebook fa-lg white-text"></i></a>
            <a class="px-3" href="https://twitter.com/treyahope"><i class="fab fa-twitter fa-lg white-text"></i></a>
            <a class="px-3" href="https://www.youtube.com/channel/UCZPhxIr0rjxwAC5pRYwz4UA"><i class="fab fa-youtube-square fa-lg white-text"></i></a>
            <a class="px-3" href="https://www.linkedin.com/in/trey-hope-69a3a774"><i class="fab fa-linkedin fa-lg white-text"></i></a>
            <a class="px-3" href="https://www.instagram.com/trey.a.hope/?hl=en"><i class="fab fa-instagram fa-lg white-text"></i></a>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      <p>Your next app is only a click away!</p>
    </div>
  </div>
</footer> 
