<section id="about" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="animated zoomInRight" style="color: navy"><strong>About</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">What is Tr3umphant.Designs?</h4>
                <p>Tr3umphant.Designs is a mobile app development service for personal or small-business use. Projects are created both for iOS and Android using Google's native framework SDK, Flutter. Based on the type of service package you choose, development will range between 3 -20 days. With quality service and a developer with a passion for creation, your next app is only a click away.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h4 class="animated zoomInRight">Mission Statement</h4>
                <p><strong>"To create an amazing UX experience via mobile applications, provide excellent customer service, and display good energy through artistry."</strong></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <section class="feature-box">
                    <div class="row features-big">
                        <div class="col-md-3 mb-r text-center" style="margin-bottom: 0 !important">
                            <i class="fa fa-calendar fa-5x" style="color:red"></i>
                            <h4 class="feature-title red-text" style="padding-top: 20px">Quick Turnover</h4>
                            <p>Average time developing your mobile app is 2-3 weeks. Factors such as functionality of app, features, and purpose of the app may add time as well.</p>
                        </div>
                        <div class="col-md-3 mb-r text-center" style="margin-bottom: 0 !important">
                            <i class="fa fa-dollar fa-5x" style="color:red"></i>
                            <h4 class="feature-title green-text" style="padding-top: 20px">Affordable Prices</h4>
                            <p>Prices are talored to fit every budget depending on your needs. You can be assured that Tr3umphant.Designs is synonymous with quality and affordable costs.</p>
                        </div>
                        <div class="col-md-3 mb-r text-center" style="margin-bottom: 0 !important">
                            <i class="fa fa-support fa-5x" style="color:red"></i>
                            <h4 class="feature-title blue-text" style="padding-top: 20px">Ongoing Support</h4>
                            <p>You can have your project updated at any time, with a small fee. Any questions or concerns will be handled swiftly by phone or email.</p>
                        </div>
                        <div class="col-md-3 mb-r text-center" style="margin-bottom: 0 !important">
                            <i class="fa fa-edit fa-5x" style="color:red"></i>
                            <h4 class="feature-title orange-text" style="padding-top: 20px">Customizable</h4>
                            <p>Every project is tailored to your wants and needs. Incorporating services such as Stripe, Firebase, and more are as simple as ever. </p>
                        </div>
                    </div>
                </section>
            </div> 
        </div>
    </div>
</section>

