<section class="text-center py-5 grey lighten-4" id="about">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="h1 pt-5 pb-3">About Me</h2>
        <p class="px-5 mb-5 pb-3 lead blue-grey-text">
          I am a 27 year old software developer from Trotwood, Ohio. I studied Computer Science at Northern Kentucky University from 2010 to 2015, 
          receiving a Bachelor of Science. After graduation, I went on to take full time opportunities in my field in several locations. I have over 
          5 years of experience as a developer, working with both small startup companies as well as larger, more established businesses. While most 
          of my job experience is heavily based on web development, my expertise is mobile app development. I created my first app for iOS back in 2014, as a 
          senior in college; I fell in love ever since. I truly love building new applications that are fun, helpful, and provide a unique 
          experience for every user. With that said, let me know how I can apply my skills to what you may need.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 mb-r wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-user-graduate fa-3x blue-text"></i>
          <h3 class="h4 mt-3">Employment</h3>
          <p class="mt-3 blue-grey-text">
            <strong class="orange-text">Science Based Nutrion </strong> : Kettering, OH (Jan 2020 - Present)
          </p>
          <p class="mt-3 blue-grey-text">
            <strong class="orange-text">NextGen Federal Systems</strong> : Beavercreek, OH (May 2018 - Nov 2018)
          </p>
          <p class="mt-3 blue-grey-text">
            <strong class="orange-text">Vana Solutions</strong> : Beavercreek, OH (Nov 2017 - April 2018)
          </p>
          <p class="mt-3 blue-grey-text">
            <strong class="orange-text">Drive Thru Technology</strong> : Los Angeles, CA (Jan 2017 - Oct 2017)
          </p>
          <p class="mt-3 blue-grey-text">
            <strong class="orange-text">Amadeus Consulting</strong> : Denver, CO (Jun 2015 - Dec 2016)
          </p>
        </div>
        <div class="col-md-6 mb-r wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-laptop-code fa-3x blue-text"></i>
          <h3 class="h4 mt-3">Skills</h3>
          <p class="mt-3 blue-grey-text">
            <strong><i class="fab fa-js-square orange-text"></i> JavaScript</strong>
          </p>
          <!-- <p class="mt-3 blue-grey-text">
            <strong><i class="fab fa-java orange-text"></i> Java</strong>
          </p>
          <p class="mt-3 blue-grey-text">
            <strong><i class="fab fa-css3 orange-text"></i> CSS3</strong>
          </p> -->
          <p class="mt-3 blue-grey-text">
            <strong><i class="fab fa-node orange-text"></i> NodeJS</strong>
          </p>
          <p class="mt-3 blue-grey-text">
            <strong><i class="fab fa-react orange-text"></i> ReactJS</strong>
          </p>
          <p class="mt-3 blue-grey-text">
            <strong><i class="fab fa-algolia orange-text"></i> Algolia</strong>
          </p>
          <p class="mt-3 blue-grey-text">
            <strong><i class="fab fa-stripe-s orange-text"></i> Stripe</strong>
          </p>
        </div>
      </div>
    </div>
  </section>