<section class="py-5" id="projects">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="text-center h1 my-4">How It Works</h2>
        <p class="px-5 mb-5 pb-3 lead blue-grey-text text-center">
          The process for making your dream mobile app is planned and executed in the most efficient way possible.
        </p>
      </div>
      <div class="row wow fadeInLeft" data-wow-delay=".3s">
        <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5"><img class="img-fluid rounded z-depth-2" src="assets/img/kuala-lumpur.jpg" alt="project image"/></div>
        <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">
          <div class="row mb-3">
            <div class="col-1 mr-1"><i class="fa fa-chalkboard-teacher fa-2x orange-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Step 1. Plan</h5>
              <p class="grey-text">
                Identify & determine requirements of the app. This is usually in the form of a business call or in person meeting, depending on the clients location. Contracts and NDAs are also signed here.
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-1 mr-1"><i class="fa fa-pencil-ruler fa-2x orange-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Step 2. Design</h5>
              <p class="grey-text">
                Designing of visual, which is a mockup of every screen of the app. A collection of screenshots will be send to the client for their approval. Along with details of functionality. If approved, the initial deposit will be paid before moving to step 3.
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-1 mr-1"><i class="fa fa-code fa-2x orange-text"></i></div>
            <div class="col-10">
              <h5 class="font-bold">Step 3. Develope</h5>
              <p class="grey-text">
                Developing of the app. This is where the visuals are combied with code to build the application you need for both iOS & Android. The client will receive updates of the app in pre-production format on a frequent basis.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row pt-5 wow fadeInRight" data-wow-delay=".3s">
        <div class="col-lg-6 col-xl-7 mb-3">
            <div class="row mb-3">
                <div class="col-1 mr-1"><i class="fa fa-flask fa-2x orange-text"></i></div>
                <div class="col-10">
                  <h5 class="font-bold">Step 4. Test</h5>
                  <p class="grey-text">
                    Testing of the ap amongst multiple users to ensure it works as espected. Anything that isn't identical to the initial requirements is fixed accordingly. This step is not left until the requirements are met.
                  </p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-1 mr-1"><i class="fa fa-rocket fa-2x orange-text"></i></div>
                <div class="col-10">
                  <h5 class="font-bold">Step 5. Launch</h5>
                  <p class="grey-text">
                    The app is no ready to go live on both the App Store for iOS and the Play Store for Android. Submission for both apps require approval on their respective markets, and typically takes between 5-7 days. The client will be notified once both are availlable.
                  </p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-1 mr-1"><i class="fa fa-briefcase-medical fa-2x orange-text"></i></div>
                <div class="col-10">
                  <h5 class="font-bold">Step 6. Support</h5>
                  <p class="grey-text">
                    Monitoring & refineing of the app takes place here. This includes insring the app still works as initally planned as the app begins to grow. If the client wants to add new features, they can do so per having another discussion with the me to get a new estimate of the work.
                  </p>
                </div>
              </div>
        </div>
        <div class="col-lg-6 col-xl-5 mb-3"><img class="img-fluid rounded z-depth-2" src="assets/img/san-francisco.jpg" alt="project image"/></div>
      </div>
    </div>
  </section>