<section id="home" class="animated fadeIn">
    <div class="container" style="text-align: center">
        <div class="jumbotron">

            <div class="col-md-6 offset-md-3">
                <h2 class="display-3">Welcome!</h2>
                <p>This site is currently under construction, but feel free to take a look at pricing and my portfolio.</p>
                <button mat-stroked-button color="primary" routerLink="/about" role="button">Learn More</button>
            </div>
        </div>
    </div>
</section>
