<section id="home" class="animated fadeIn">
    <div class="container" style="text-align: center">
        <div class="jumbotron">

            <div class="col-md-6 offset-md-3">
                <h2 class="display-3">Welcome!</h2>
                <p>You have reached the personal website of Tr3umphant.Designs. If you are looking for someone to create
                    the mobile app of your dreams, then look no further.</p>
                <p><a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more »</a></p>
            </div>
        </div>
    </div>
</section>