<section id="portfolio" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="animated zoomInRight" style="color: navy"><strong>Portfolio</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">Mobile apps are my specialty.</h4>
                <p>See some of the apps I've developed.</p>
            </div>
        </div>
        <hr>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Lit Pic</mat-card-title>
              <mat-card-subtitle>Version 3.0.0</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/tr3umphant-designs-bd77b.appspot.com/o/Images%2Flitpic.jpg?alt=media&token=c5620c5f-42a7-4cc7-9c8c-d1602c1a4b53" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Create your own 3D printed lithophane by uploading pictures of your choice, color, and quantity. Light up every moment with a lithophane.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="urlService.openBlank(litpic.ios)">iOS</button>
              <button mat-button (click)="urlService.openBlank(litpic.android)">Android</button>
            </mat-card-actions>
          </mat-card>
        <div class="row">
            <div class="col">
                <section class="feature-box">
                    <div class="row features-big">
                        <!-- Lit Pic -->
                        <div class="col-md-6 mb-r text-center" style="margin-bottom: 0 !important">
                            <div class="card mb-4" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/tr3umphant-designs-bd77b.appspot.com/o/Images%2Flitpic.jpg?alt=media&token=c5620c5f-42a7-4cc7-9c8c-d1602c1a4b53"
                                            class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Lit Pic</h5>
                                            <p class="card-text">Create your own 3D printed lithophane by uploading pictures of your choice, color, and quantity. Light up every moment with a lithophane.</p>
                                            <p class="card-text"><small class="text-muted">Version 3.0.0</small></p>
                                            <button mat-stroked-button color="primary" (click)="urlService.openBlank(litpic.ios)">iOS</button>
                                            &nbsp;
                                            <button mat-stroked-button color="primary" (click)="urlService.openBlank(litpic.android)">Android</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hidden Gems -->
                        <div class="col-md-6 mb-r text-center" style="margin-bottom: 0 !important">
                            <div class="card mb-4" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/tr3umphant-designs-bd77b.appspot.com/o/Images%2Fhidden_gems.jpg?alt=media&token=749955e6-97aa-486a-b355-b3f1bdd08179"
                                            class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Hidden Gems</h5>
                                            <p class="card-text">A resource app for the city of Dayton that displays the
                                                best musicians,
                                                artist, technicians, chefs, entertainers, and much more.</p>
                                            <p class="card-text"><small class="text-muted">Version 1.0.1</small></p>
                                            <button mat-stroked-button color="primary" (click)="urlService.openBlank(hiddenGems.ios)">iOS</button>
                                            &nbsp;
                                            <button mat-stroked-button color="primary" (click)="urlService.openBlank(hiddenGems.android)">Android</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row features-big">

                        <!-- tr3Designs -->
                        <div class="col-md-6 mb-r text-center" style="margin-bottom: 0 !important">
                            <div class="card mb-4" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/tr3umphant-designs-bd77b.appspot.com/o/Images%2Ftr3designs.jpg?alt=media&token=792985fb-928f-4053-a04b-fd605865160d"
                                            class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">tr3Designs</h5>
                                            <p class="card-text">Shop from several custom made products at affordable
                                                prices.
                                                Leave suggestions on what you would like to see built in the future. And
                                                finally,
                                                get by the minute updates for new products that have been created just
                                                for you.</p>
                                            <p class="card-text"><small class="text-muted">Version 3.0.0</small></p>

                                            <button mat-stroked-button color="primary" (click)="urlService.openBlank(tr3Designs.android)">iOS</button>
                                            &nbsp;
                                            <button mat-stroked-button color="primary" (click)="urlService.openBlank(tr3Designs.android)">Android</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</section>