<section id="contact" style="background-image:url('assets/img/panorama-3094696_1920.jpg');">
  <div class="rgba-black-strong py-5">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="h1 text-white pt-5 pb-3 text-center">Contact Me</h2>
        <p class="text-white px-5 mb-5 pb-3 lead text-center">
          Questions, concerns, compliments? Let me know.
        </p>
      </div>
      <div class="card mb-5 wow fadeInUp" data-wow-delay=".4s">
        <div class="card-body p-5">
          <div class="row">
            <div class="col-md-8">
              <form class="example-form">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Your Name</mat-label>
                      <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
                             placeholder="Ex. Trey Hope">
                      <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
                        Please enter a name
                      </mat-error>
                      <mat-error *ngIf="nameFormControl.hasError('required')">
                        Name is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <!-- <div class="md-form">
                      <input class="form-control" id="name" type="text" name="name" required="required"/>
                      <label for="name">Your name</label>
                    </div> -->
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Your Email</mat-label>
                      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                             placeholder="Ex. pat@example.com">
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <!-- <div class="md-form">
                      <input class="form-control" id="email" type="text" name="_replyto" required="required"/>
                      <label for="email">Your email</label>
                    </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Subject</mat-label>
                      <input matInput [formControl]="subjectFormControl" [errorStateMatcher]="matcher"
                             placeholder="Ex. Estimate Question">
                      <mat-error *ngIf="subjectFormControl.hasError('subject') && !subjectFormControl.hasError('required')">
                        Please enter a subject
                      </mat-error>
                      <mat-error *ngIf="subjectFormControl.hasError('required')">
                        Subject is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <!-- <div class="md-form">
                      <input class="form-control" id="subject" type="text" name="subject" required="required"/>
                      <label for="subject">Subject</label>
                    </div> -->
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Your Message</mat-label>
                      <textarea matInput [formControl]="messageFormControl" [errorStateMatcher]="matcher"
                             placeholder="Ex. I was curious to how..."></textarea>
                      <mat-error *ngIf="messageFormControl.hasError('message') && !messageFormControl.hasError('required')">
                        Please enter a message
                      </mat-error>
                      <mat-error *ngIf="messageFormControl.hasError('required')">
                        Message is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <!-- <div class="md-form">
                      <textarea class="md-textarea" id="message" name="message" required="required"></textarea>
                      <label for="message">Your message</label>
                    </div> -->
                  </div>
                </div>
                <div class="center-on-small-only mb-4">
                  <button class="btn btn-indigo ml-0" (click)="onSubmit()"><i class="fa fa-paper-plane-o mr-2"></i> Send</button>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled text-center">
                <li class="mt-4"><i class="fa fa-map-marker indigo-text fa-2x"></i>
                  <p class="mt-2">Dayton, OH</p>
                </li>
                <li class="mt-4"><i class="fa fa-phone indigo-text fa-2x"></i>
                  <p class="mt-2">(937) 270-5527</p>
                </li>
                <li class="mt-4"><i class="fa fa-envelope indigo-text fa-2x"></i>
                  <p class="mt-2">trey.a.hope@gmail.com</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>