<section class="text-center py-5 grey lighten-4" id="blog">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3">Blog</h2>
      <p class="px-5 mb-5 pb-3 lead blue-grey-text">
        Follow the journey of a Mobile App Developer.
      </p>
    </div>

    <h3>Awesome Apps</h3>
    <div class="row">
      <!-- Awesome Apps, Episode 2 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Awesome Apps: Episode 2, Carbon</mat-card-title>
            <mat-card-subtitle>May 27th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/UGjUmENNelo" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>There's a pretty neat way to capture views of the code you write.
              </strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=UGjUmENNelo')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Awesome Apps, Episode 1 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Awesome Apps: Episode 1, Postman</mat-card-title>
            <mat-card-subtitle>May 15th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/JG4IqzlksRw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Postman is an open source app that simplifies all the steps in creating an API for personal or team developers.
              </strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=JG4IqzlksRw')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <h3>LARGE Factz</h3>
    <div class="row">
      <!-- LARGE Factz, Episode 2 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>LARGE Factz: Episode 2, BWS2020</mat-card-title>
            <mat-card-subtitle>June 27th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/bVhtCWrl_6U" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>This video is to piggy back off the idea of blacks having their own in this country in order to
                escape the effects of systemic racism, including police brutality.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=bVhtCWrl_6U')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- LARGE Factz, Episode 1 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>LARGE Factz: Episode 1, Blacks In Tech</mat-card-title>
            <mat-card-subtitle>June 27th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/6Kj-nc--frk" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>
                On this episode I will be discussing African Americans in tech, and how it can possibly be a route to
                exit poverty for good. </strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=6Kj-nc--frk')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <h3>Widget Breakdown</h3>
    <div class="row">
      <!-- Widget Breakdown, Episode 4 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Widget Breakdown : Episode 4, Stack</mat-card-title>
            <mat-card-subtitle>June 25th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/iTnHLSWHfPM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>It's time for another Widget Breakdown.
                This time, it's of the Stack widget!</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=iTnHLSWHfPM&t=3s')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Widget Breakdown, Episode 3 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Widget Breakdown : Episode 3, SnackBar</mat-card-title>
            <mat-card-subtitle>May 7th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/OhAF-2ken2M" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>On today's episode, I'll be showing you how to use Flutter's SnackBar widget.
                This widget is a lightweight message with optional actions, which briefly displays at the bottom of the
                screen.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=OhAF-2ken2M')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Widget Breakdown, Episode 2 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Widget Breakdown : Episode 2, RichText</mat-card-title>
            <mat-card-subtitle>May 3rd, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/J_q5qqxiVDs" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Today I will be discussing one of my most used widgets in Flutter, the RichText widget.
              </strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=J_q5qqxiVDs')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <h3>Quick Code</h3>
    <div class="row">
      <!-- Quick Code, Episode 4 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Quick Code : Episode 4, Settings Page</mat-card-title>
            <mat-card-subtitle>May 19th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/Ukp_xUH69f4" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Today I will be creating a simple settings page.
              </strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=Ukp_xUH69f4')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Quick Code, Episode 3 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Quick Code : Episode 3, IDR Payment Screen</mat-card-title>
            <mat-card-subtitle>April 16th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/ttYDnx2QdOc" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>On a first ever episode of Widget Breakdown, I will be discussing what properties and widgets are
                needed to make a Bottom Navigation Bar for your mobile application.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=ttYDnx2QdOc')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Quick Code, Episode 2 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Quick Code : Episode 2, Template Page & Children</mat-card-title>
            <mat-card-subtitle>March 24th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/dvm4L_IRd_U" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Today I will be designing a simple template page that has navigation buttons, title text, and a
                list view of dummy data.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=dvm4L_IRd_U')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <h3>Code This</h3>
    <div class="row">
      <!-- Code This, Episode 4 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Code This : Episode 4, Flutter BLoC</mat-card-title>
            <mat-card-subtitle>June 21st, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/YerF0ia8cpo" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Today I will be demonstrating how to use the BLoC design pattern for a simple login application.
              </strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=YerF0ia8cpo')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Code This, Episode 3 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Code This : Episode 3, Firebase Cloud Storage</mat-card-title>
            <mat-card-subtitle>April 26th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/QfW_jXnbbUc" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Today I will be demonstrating how to use the BLoC design pattern for a simple login application.
              </strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=QfW_jXnbbUc')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Code This, Episode 2 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Code This : Episode 2, Firestore & Streams</mat-card-title>
            <mat-card-subtitle>March 20th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/EIGqeFQDh1I" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Today on another episode of Code This, we will be creating a mock version of twitter.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=EIGqeFQDh1I')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <h3>Interviews</h3>
    <div class="row">
      <!-- Interviews 1 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".3s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>What's The Biz? With TJ</mat-card-title>
            <mat-card-subtitle>October 23rd, 2019</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/apzpW-zJKsw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>I sat down with TJ Cartwright to talk about my instiration for the company, long term goals, and
                current apps on the market.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=apzpW-zJKsw')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <h3>Articles</h3>
    <div class="row">
      <!-- Articles 1 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".4s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Dayton Tech Guide - Hidden Gems</mat-card-title>
            <mat-card-subtitle>September 19th, 2019</mat-card-subtitle>
          </mat-card-header>
          <img height="200"
            src="https://firebasestorage.googleapis.com/v0/b/hidden-gems-e481d.appspot.com/o/Images%2FHiddenGems_1024x1024.png?alt=media&token=7be9dfe6-9138-476b-97ba-bdfdc6f88bec"
            data-holder-rendered="true">
          <mat-card-content>
            <p>
              <strong>Dayton Tech Guide was gracious enough to do a write up of the Hidden Gems app.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank(blogOneUrl)">READ MORE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>