<section id="blog" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="animated zoomInRight" style="color: navy"><strong>Blog</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">Follow the journey.</h4>
                <p>Learn the process.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <section class="feature-box">
                    <div class="row features-big">
                            <div class="col-md-6">
                                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                        <div class="card-body d-flex flex-column align-items-start">
                                            <h3 class="mb-0">
                                                <a class="text-dark" href="#">What's The Biz? With TJ</a>
                                            </h3>
                                            <div class="mb-1 text-muted">October 23rd, 2019</div>
                                            <p class="card-text mb-auto">I sat down with TJ Cartwright to talk about my instiration for the company, long term goals, and current apps on the market.</p>
                                            <br>
                                        </div>
                                        <div style="padding: 20px">
                                                <iframe  src="https://www.youtube.com/embed/nsbnywYbn6g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
        
                                    </div>
                                </div>
                        <div class="col-md-6">
                            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                <div class="card-body d-flex flex-column align-items-start">
                                    <h3 class="mb-0">
                                        <a class="text-dark" href="#">Dayton Tech Guide - Hidden Gems</a>
                                    </h3>
                                    <div class="mb-1 text-muted">September 19th, 2019</div>
                                    <p class="card-text mb-auto">Dayton Tech Guide was gracious enough to do a write up of the Hidden Gems app.</p>
                                    <br>
                                    <button (click)="urlService.openBlank(blogOneUrl)" class="btn btn-primary">Read More</button>
                                </div>
                                <div style="padding: 20px">
                                    <img class="card-img-right flex-auto d-none d-md-block" height="200"
                                        src="https://firebasestorage.googleapis.com/v0/b/hidden-gems-e481d.appspot.com/o/Images%2FHiddenGems_1024x1024.png?alt=media&token=7be9dfe6-9138-476b-97ba-bdfdc6f88bec"
                                        data-holder-rendered="true">
                                </div>

                            </div>
                        </div>
           
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>