<section class="text-center py-5 grey lighten-4" id="blog">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3">Blog</h2>
      <p class="px-5 mb-5 pb-3 lead blue-grey-text">
        Follow the journey of a Mobile App Developer.
      </p>
    </div>
    
    <h3>Widget Breakdown</h3>
    <div class="row">
      <!-- Widget Breakdown, Episode 3 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Widget Breakdown : Episode 3, SnackBar</mat-card-title>
            <mat-card-subtitle>May 7th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/OhAF-2ken2M" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>On today's episode, I'll be showing you how to use Flutter's SnackBar widget.
                This widget is a lightweight message with optional actions, which briefly displays at the bottom of the
                screen.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=OhAF-2ken2M')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Widget Breakdown, Episode 2 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Widget Breakdown : Episode 2, RichText</mat-card-title>
            <mat-card-subtitle>May 3rd, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/J_q5qqxiVDs" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Today I will be discussing one of my most used widgets in Flutter, the RichText widget.
              </strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=J_q5qqxiVDs')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Widget Breakdown, Episode 1 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Widget Breakdown : Episode 1, Template Page & Children</mat-card-title>
            <mat-card-subtitle>April 16th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/Hkb-rT7-lJQ" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>On a first ever episode of Widget Breakdown, I will be discussing what properties and widgets are
                needed to make a Bottom Navigation Bar for your mobile application.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=Hkb-rT7-lJQ')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <h3>Quick Code</h3>
    <div class="row">
      <!-- Quick Code, Episode 3 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Quick Code : Episode 3, IDR Payment Screen</mat-card-title>
            <mat-card-subtitle>April 16th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/Hkb-rT7-lJQ" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>On a first ever episode of Widget Breakdown, I will be discussing what properties and widgets are
                needed to make a Bottom Navigation Bar for your mobile application.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=Hkb-rT7-lJQ')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Quick Code, Episode 2 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Quick Code : Episode 2, Template Page & Children</mat-card-title>
            <mat-card-subtitle>March 24th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/dvm4L_IRd_U" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Today I will be designing a simple template page that has navigation buttons, title text, and a
                list view of dummy data.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=dvm4L_IRd_U')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Quick Code, Episode 1 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Quick Code : Episode 1, Shopping Cart</mat-card-title>
            <mat-card-subtitle>March 14th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/0b375fs8UCM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>In this series, I will displaying how a UI is developed using Google mobile app development SDK,
                Flutter.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=0b375fs8UCM')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>

    </div>

    <h3>Code This</h3>
    <div class="row">
      <!-- Code This, Episode 2 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Code This : Episode 2, Firestore & Streams</mat-card-title>
            <mat-card-subtitle>March 20th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/EIGqeFQDh1I" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>Today on another episode of Code This, we will be creating a mock version of twitter.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=EIGqeFQDh1I')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <!-- Code This, Episode 1 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Code This : Episode 1, NBA Teams ListView</mat-card-title>
            <mat-card-subtitle>March 12th, 2020</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/Z_dhRr_3iEk" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>In Flutter development, everything is a widget, so I will be explaining the significance of using
                multiple widgets to build rich mobile applications.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=Z_dhRr_3iEk')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <h3>Interviews</h3>
    <div class="row">
      <!-- Interviews 1 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".3s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>What's The Biz? With TJ</mat-card-title>
            <mat-card-subtitle>October 23rd, 2019</mat-card-subtitle>
          </mat-card-header>
          <iframe src="https://www.youtube.com/embed/apzpW-zJKsw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <mat-card-content>
            <p>
              <strong>I sat down with TJ Cartwright to talk about my instiration for the company, long term goals, and
                current apps on the market.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank('https://www.youtube.com/watch?v=apzpW-zJKsw')">WATCH
              NOW</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <h3>Articles</h3>
    <div class="row">
      <!-- Articles 1 -->
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".4s">
        <mat-card class="example-card text-center">
          <mat-card-header style="display: inline;">
            <mat-card-title>Dayton Tech Guide - Hidden Gems</mat-card-title>
            <mat-card-subtitle>September 19th, 2019</mat-card-subtitle>
          </mat-card-header>
          <img height="200"
            src="https://firebasestorage.googleapis.com/v0/b/hidden-gems-e481d.appspot.com/o/Images%2FHiddenGems_1024x1024.png?alt=media&token=7be9dfe6-9138-476b-97ba-bdfdc6f88bec"
            data-holder-rendered="true">
          <mat-card-content>
            <p>
              <strong>Dayton Tech Guide was gracious enough to do a write up of the Hidden Gems app.</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="urlService.openBlank(blogOneUrl)">READ MORE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>